@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
    box-sizing: border-box;
    padding:0;
    margin: 0;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 13px;

}

header {
    background-image: url(../img/huntington.png);
    color: white;
    margin: 0px 0px 0px 0px;
    padding: 50px;
    text-align: center;
}

h1 {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 4px 4px #000000;
    padding: 25px; 
}

h2 {
    font-family: 'Satisfy', cursive;
    background: url(../img/zen.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 40% ;
    margin: 10px;
    color: silver;
}

h3 {
    color: black;
    margin: 0px 75px;
    padding-top: 20px;
}

a {
    color: #000000;
    font-size: 15px;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

p {
    margin: 20px 75px 0px 75px;
}

.participation{
    background: url(../img/bamboo.png);
    background-color: rgba(61, 142, 65, 0.5);
    color: white;
    background-size: 100%;

}
.benefits{
    background: url(../img/bamboo.png);
    background-color: rgba(61, 142, 65, 0.5);
    color: white;
    background-size: 100%;
    margin-top: 0px;
    border-top: 0px;
}

#zen-participation {
    margin-bottom: 0px;
}

[role = "contentinfo"] {
    background-color: #769D7A;
    height: 80px;
    padding-top: 25px;
    text-align: center;
    width: 100%;
    color: #e0e0eb;
    margin: 15px 0px 0px 0px;
    font-size: 15px;
}
[role = "contentinfo"] a {
    color: white;
    font-size: 30px;
    font-family: 'Satisfy', cursive;
}

[role = "contentinfo"] a:hover {
    color: white;
    font-size: 30px;
    font-family: 'Satisfy', cursive;
    text-decoration: underline;
}

footer {
    text-align: center;
    background-color:#234C4B;
    height: 55px;
    
}

footer a{
    color:white;
    font-size: 40px;
}

footer a:hover{
    color: grey;
    font-size: 40px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #D6E3D6;
  }

li {
    float: left;
    width: 50%;
    text-align: center;
}

#design-selection li{
    border-bottom: 1px solid silver;
    padding: 40px;
}

#design-archives li{
    border-bottom: 1px solid silver;
    padding: 40px;
}

.select {
    display: none;
}
.archives {
    display: none;
}
.resources {
    display: none;
}

.zen-resources ul{
    background: url(../img/bamboo.png);
    background-color: rgba(61, 142, 65, 0.5);
    padding: 20px;
}

.zen-resources li {
    padding: 10px;
}

.zen-resources a{
    color: darkgreen;
    padding: 10px;
}

.designer-name {
    color: silver;
}

.next a{
    color: silver;
}
.viewall a{
    color: silver;
}